html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
}

* {
  box-sizing: border-box;
  /* outline: white solid 1px; */
}

.main,
.main-dashboard {
  background-color: #fafcff;
  padding-top: 64px;
  padding-bottom: 40px;
  min-height: 600px;
  height: 100vh;
}
.auth-main {
  background-color: #fafcff;
  min-height: 666px;
}

a {
  color: #3a3d42 !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--bs-primary) !important;
  text-decoration-thickness: 2px !important;
}

.input-with-icon {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.form-control {
  background-color: transparent !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 2px solid #a9a9a999 !important;
  padding-left: 40px !important;
}
.form-control:focus {
  border: 0 !important;
  border-bottom: 2px solid var(--bs-primary) !important;
  box-shadow: none !important;
}

.fs-7 {
  font-size: 0.875rem;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-extrabold {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}

.profile-picture {
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

/* Navbar */
.btn-navbar {
  width: 100%;
  border-radius: 0 !important;
  text-align: start !important;
  padding-left: 24px !important;
  border-left: 4px solid transparent !important;
}
.btn-navbar:hover,
.btn-navbar:hover .bi {
  color: var(--bs-primary) !important;
}
.btn-navbar:focus,
.btn-navbar:active,
.btn-navbar--selected {
  color: var(--bs-primary) !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  border-left: 4px solid var(--bs-primary) !important;
}
.btn-navbar:focus .bi,
.btn-navbar:active .bi,
.btn-navbar--selected .bi {
  color: var(--bs-primary) !important;
}

.dashboard__btn-white {
  background-color: rgba(255, 255, 255, 0.25) !important;
  color: white !important;
  font-weight: 700 !important;
}
.dashboard__btn-white:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.scrollable-wrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}

.search-box:focus-visible {
  outline-color: var(--bs-primary) !important;
}

.user-card:hover {
  background-color: rgba(99, 121, 244, 0.075) !important;
  cursor: pointer;
}

.transfer__amount-input::placeholder,
.form-control::placeholder {
  opacity: 50% !important;
}
.transfer__amount-input:focus-visible,
.form-control:focus-visible {
  outline: none !important;
}
.transfer__amount-input:focus::placeholder,
.form-control:focus::placeholder {
  color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.update-image-input:hover {
  cursor: pointer;
}
.update-image__overlay {
  background-color: #111213a0;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  opacity: 0;
  display: none;
  transition: 0.3s;
}
.update-image-input:hover .update-image__overlay {
  display: flex;
  opacity: 1;
}

.hero-section {
  background-image: url("../public/images/hero-bg.png");
  width: 100%;
  height: 100vh;
  max-height: 800px;
}

.notif-modal {
  top: 130%;
  right: 2%;
  width: 30%;
  height: 360px;
  z-index: 3;
}

.auth-card {
  border-radius: 28px;
}

.hero-text {
  font-size: 48px;
}

.feature-section {
  height: 100vh;
  max-height: 700px;
}

.feature-right-side > span {
  display: none !important;
}

.profile-menu,
.profile-form,
.profile-text {
  width: 50%;
}

.main-card {
  height: 100%;
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 64px;
    min-height: auto;
    height: 100vh;
  }
  .main-dashboard {
    padding-bottom: 64px;
    min-height: 100vh;
    height: auto;
  }

  .balance-row,
  .stat-history-row {
    height: auto !important;
  }

  .notif-modal {
    top: 150%;
    left: 0;
    right: 0;
    width: 100%;
    height: 360px;
    z-index: 3;
  }

  .auth-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .auth-form {
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .hero-text {
    font-size: 36px;
  }

  .feature-section {
    height: auto;
    max-height: none;
  }

  .feature-right-side > span {
    display: inline-block !important;
  }

  .profile-menu,
  .profile-form,
  .profile-text {
    width: 100%;
  }

  .main-card {
    height: 100%;
    min-height: auto;
  }
}
